{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<table class="table table-striped" style="width:100%">
     <tr>
       <th>Symbol</th>
       <th>Name</th>
       <th>Shares</th>
       <th>Price</th>
       <th>Total</th>
     </tr>
     <tr>
       <td>CASH</td>
       <td></td>
       <td></td>
       <td></td>
       <td>{{ cash }}</td>
     </tr>
     <tr>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td><b>{{ total }}</b></td>
     </tr>
   </table>
{% endblock %}
